@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    border:0;
}


body {
    font-family: 'Barlow', sans-serif;
        
    }

/* Navigation */

.nav {
    padding: 20px;
    margin-bottom: 20px;
}

.nav-logo {
    width: 240px;
    height: 80px;
}

.menu-nav-link {
    font-size: 1.50rem;
    letter-spacing: .66px;
    color: #FBFAF5;
    opacity: .85;
    transition: opacity .2s ease-in-out;
}


.fa-bars{
    color:#FBFAF5;
}

.nav-link:hover {
    color: #FCA311;
    font-weight: bolder;
    text-decoration-line: underline;
}

.row {
    margin-left: auto;
    margin-right: auto;
}
 /*Hero image Details */

.hero-image {
    position: relative;
    margin-bottom: 30px;
}

.fa-car {
    color:#FCA311;
}

.hero-image img {
    height: 600px;
    width: 100vw;
    min-height: 300px;
}

.hero-text {
    color:white;
    width: inherit;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
  }

/* footer */
footer {
    height: 150px;
    width:100%;
}



.footer-color {
    font-size: 150%;
    color:#FCA311;
}

 /* Home page Details */

.welcome-text {
    padding-bottom: 75px;
}
.welcome-hr{
    margin-top: 25px;
    margin-bottom:25px;
    color:#000000;
}
.light-bg {
    background-color: white;
}

.dark-bg {
    background-color: #000000;
}

.main-bg {
    background-color: #E5E5E5;
}

.card {
    padding:3px;
    border:2px;
    border-style: groove;
}


.img-height {
    min-height:300px;

}

.image-container {
    position: relative;
}

.author {
    color: black;
    margin: 4px;
    text-transform: uppercase;
}

.img-fit {
    object-fit: cover;
}

.masthead {
    background-color: #415A77;
    color: #FBFAF5;
    width:fit-content;
}


.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #FCA311;
    opacity: .85;
    transition: opacity .2s ease-in-out;
}

.btn-signup {
    background-color: #FCA311;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #FCA311;
}

.link {
    color: #FCA311;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #FCA311;
    text-decoration: underline;
}

/* Like Feature */

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}


/*Contact Form*/

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
   }
   


/* Media Queries */

@media only screen and (max-width: 555px) {

    .hero-text {
        width:50%;
    }
}
@media only screen and (min-width: 555px ) and (max-width: 855px) {
    .hero-text{
        width:50%;
    }
    
}