{% extends "base.html" %}
{% block content %}
<h2> Welcome to our website, the ultimate destination for buying and selling cars.
     We are a team of car enthusiasts who have come together to create a platform that
     makes it easy for people to find their dream car. Whether you're looking to buy your first car or upgrade to your dream car, we have something for everyone. We have a wide range of cars to choose from, including luxury cars, sports cars, and even classic cars.
     With our website, you can find the perfect car for your needs and budget.
     Thank you for choosing our website as your go-to destination for buying and selling cars. 
     We look forward to helping you find your next car.
</h2>
{% endblock content %}