{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}


{% if user.is_authenticated %}
<div class="container text-dark">
    <div class="row">
        <div class="col mt-3 mb-5">
            <h2 class="text-center">Add your Car</h2>
            <form method="POST" style="margin-top: 1.3em;" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" class="btn btn-outline-success button ">
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}