{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}
<div class="container border-card">
    <div class="container">
        <div class="row g-0 masthead">
            <div class="col-md-6 my-auto text-center">
                <h1> {{ post.title }}</h1>
                <p class="subtitle mb-3 mb-lg-0">by {{ post.author }} | <em>{{ post.created_on }}</em></p>
            </div>
            <div class="d-md-block col-lg-6">
                <img class="card-img-top img-fit" src=" {{ post.image.url }}" alt="picture of car">
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <div class="card-body">
                    <div class="container mt-3">
                        <h3>Key Info</h3>
                        <hr class="red-left">
                        <p>Year: {{ post.year }}</p>
                        <p>NCT Expiry: {{ post.nct }}</p>
                        <p>Phone Number: {{ post.number }}</p> 
                        <p>Price: €{{ post.price }}</p>
                        <br>
                        <h3>Detailed Info</h3>
                        <hr class="red-left">
                        <p class="text-justify">{{ post.description | linebreaks }}</p>
                        
            
                    </div>
                        <!-- The post content goes inside the card-text. -->
                        <!-- Use the | safe filter inside the template tags -->
                        <p class="card-text ">
                        {{ post.content | safe }}
                        </p>
                        
                    <div class="row">
                        <div class="col-1">
                            <strong>
                                {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}
                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like" ><i class="fas fa-heart"></i></button>
                                    {% else %}\
                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like" ><i class="far fa-heart"></i></button>
                                    {% endif %}
                                </form>
                                {% else %}
                                <span class="text-secondary"><i class="fa-solid btn-like fa-heart likes"></i></span>
                                {% endif %}
                            <!-- The number of likes goes before the closing strong tag -->
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                            </strong>
                        </div>
                        <div class="col-1">
                            {% with comments.count as total_comments %}
                            <strong class="text-secondary"><i class="far fa-comments"></i>
                                <!-- Our total_comments variable goes before the closing strong tag -->
                                {{ total_comments }}</strong>
                            {% endwith %}
                        </div>
                    </div>
                    <hr>
                    <div class="col mt-2 mb-3">
                        {% if user.id == post.author.id %}
                        <!--model for deleting car-->
                        <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-danger">Delete Car</button>
                        <div id="id01" class="modal">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
                            <form class="modal-content" action="/action_page.php">
                                <h1>Your About To Delete Your Post!</h1>
                                <p>Are you sure? You Cant get it back?</p>
                                <div class="clearfix">
                                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-success">Cancel</button>
                                    <a href="{% url 'delete_car' post.slug %}"><button type="button" value="{{ car.slug }}" class="btn btn-danger"
                                        onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Delete</button> </a>
                                </div>
                            </form>
                        </div>
                        <a href="{% url 'edit_car' post.slug %}"> <button class="btn btn-success btn-md mx-4"
                            value="{{ car.slug }}" type="button">Edit</button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 ">
                <h3>Comments:</h3>
                <div class="card-body">
                    <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                    {% for comment in comments %}
                    <div class="comments border" style="padding: 10px;">
                        <p class="font-weight-bold">
                            <!-- The commenter's name goes here. -->
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                <!-- The comment's created date goes here -->
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        <!-- The body of the comment goes before the | -->
                        {{ comment.body | linebreaks }}
                    </div>
                    {% if user.is_authenticated and user.username == comment.name %}
                    <a href="{% url 'delete_comment' comment.id %}" class="btn btn-danger btn-md mx-4">Delete Comment</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 card mb-4  mt-3 ">
                <div class="card-body">
                    {% if commented %}
                <div class="alert alert-success" id="msg" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-lg">Submit</button>
                </form>
                 {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}