{% extends "base.html" %}
{% block content %}
<div class ="container">
    <h1 class="text-center">Contact Us!</h1>
    <h3 class="text-center">We here at Buy And Sell Auto Strive to make your visit to our website hassle free so if you have any suggestions
        to improve the website or if you have any issues at all please write to us!!
    </h3> 
    <div class="container col-md-8 p-5 mb-3">
        <form method="post"  enctype="multipart/form-data" >
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-outline-success button">
        </form>
    </div>
</div>

{% endblock content %}