{% extends "base.html" %}
{% block content %}

<div class="hero-image">
    <img class="img-fluid"
  src="https://res.cloudinary.com/dcpbuoisy/image/upload/v1674141001/marc-kleen-h8UQV31X5AI-unsplash_1_v1nfyx.jpg" alt="image of cars">
    <div class="container hero-text">
        <h2> 
            Welcome to the Buy and Sell Auto <br>Hoping the help you find your next car
            <br>
            <a class="btn btn-danger button" href="{% url 'carlist' %}">Browse Cars</a>
    </div>
</div>
  
<section class="container px-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="my-3 text-center">What We Do</h2>
            </div>
        </div>
        <br>
        <div class="">
          Welcome to our Buy and Sell Car website, where we strive to make the process of buying and selling cars as seamless as possible.
          Our platform offers a hassle-free experience for car buyers and sellers to connect and transact.
          We believe that everyone should have access to quality and affordable vehicles, 
          and that's why we've made it our mission to provide an easy-to-use platform for everyone.
        </div>
        <br>
        <div>
          Our website offers a wide range of cars to choose from,  
          with detailed listings and high-quality images, making it easy for buyers to find the perfect car for them.
          We also provide a secure and reliable payment platform for transactions, 
          so you can be sure that your money is protected
          Additionally, our customer support team is always on hand to answer any questions and provide assistance with
          any issues you may encounter.
        </div>
        <br>
        <div>
          We understand that buying or selling a car can be a significant decision,
          and we're here to make it as stress-free as possible.
          Our platform is designed with your needs in mind, 
          and we're constantly working to improve and add new features to make the process even smoother.
          We believe that the future of car buying and selling is here,
          and we're excited to be at the forefront of this change.
          Thank you for choosing our Buy and Sell Car website, and we look forward to helping you find your perfect car.
        </div>
    </div>
  </section>
<!--Car Ad Entries-->

<h3 class ="text-center">
    Some of todays features include...
</h2>

{% endblock content %}